<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <div id= "errors">
            <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :company_name, "Company Name" %> <br>
        <%= f.text_field :company_name %>
    </p>
    <p>
        <%= f.label :position_title, "Position Title" %> <br>
        <%= f.text_field :position_title %>
    </p>
    <p>
        <%= f.label :job_description, "Job Description" %> <br>
        <%= f.text_area :job_description %>
    </p>
    <p>
    <p>
        <%= f.label :custom_cover_letter, "Custom Cover Letter" %> <br>
        <% if @post.custom_cover_letter == nil %>
            <%= f.text_area :custom_cover_letter, :value => CoverLetter.find(14).body %>
        <% else %>
            <%= f.text_area :custom_cover_letter, :value => @post.custom_cover_letter %>
        <% end %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

</div>
